h1 {
font-size: 70px;
text-align: center;
font-family: cursive;
color: black;
        }
.firstpa {
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    color: black;
    padding: 5px;
    border: 10px solid black;
    }
    .pict {
        text-align: center;
        }
.ghur {
font-size: 45px;
border: 10px solid black;
padding: 5px;
text-align: center
}
.shok {
        text-align: center;
      font-size: 20px;
}


  